/*
This CSS file contains styling rules for the layout and appearance of elements 
within the application. It is likely associated with the main component or 
layout structure of the web application.

This CSS file is likely imported into the main application component or included
 as part of a larger stylesheet to apply its styles across the application.

Developers can further extend or modify the styles within this file to suit the 
design requirements of the application.
*/

/* Set the height of the html, body, and #root elements to occupy 100% of the viewport height */
html,
body,
#root {
  margin: 0; /* Remove any default margin */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

 */
